.hidden {
  display: none !important;
}

.container {
  margin: 0 auto;
  padding-inline: 0.5rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.column-full {
  flex-basis: 100%;
}

.column-half {
  flex-basis: 50%;
}

.column-quarter {
  flex-basis: 25%;
}

@media screen and (min-width: 1152px) {
  .container {
    padding-inline: 4rem;
  }
}
