.hidden {
  display: none !important;
}

.container {
  margin: 0 auto;
  padding-inline: 0.5rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.column-full {
  width: 100%;
}

.column-half {
  width: 50%;
}

@media screen and (min-width: 768px) {
  .container {
    padding-inline: 1rem;
  }
}
