* {
  box-sizing: border-box;
  font-family: 'Roboto Mono', monospace;
}

body {
  margin: 0;
}

h1 {
  font-size: 48px;
  padding-top: 0.5rem;
  padding-bottom: 2rem;
}

p {
  line-height: 200%;
  font-size: 18px;
}
