.background-color-gray {
  background-color: #efefef;
}

.inactive {
  color: #9b9fa1;
}

.logo-color {
  color: #222831;
}

.active {
  color: #393e46;
}

.current-character {
  background-color: hsla(183, 100%, 35%, 0.57);
}

.correct {
  color: #00adb5;
}

.incorrect {
  color: #dc2626;
  text-decoration: underline;
}

.margin-block-0 {
  margin-block: 0;
}

.margin-top-0 {
  margin-top: 0;
}

.margin-bottom-2rem {
  margin-bottom: 2rem;
}

.margin-auto {
  margin: auto;
}

.justify-center {
  justify-content: center;
}

.text-underline {
  text-decoration: underline;
}

.text-align-center {
  text-align: center;
}

.stats {
  background-color: hsla(183, 100%, 35%, 0.72);
  border-radius: 6px;
  display: inline;
  padding: 1rem 2rem;
}

.tab {
  background-color: hsla(183, 100%, 35%, 0.72);
  border-radius: 4px;
  padding: 0.3rem;
}

.font-size-14px {
  font-size: 14px;
}

.font-size-36px {
  font-size: 36px;
}

@media screen and (min-width: 1152px) {
  p,
  h3 {
    font-size: 41px;
  }

  h1 {
    font-size: 109px;
    padding-top: 1.3rem;
    padding-bottom: 5.3rem;
  }

  .font-size-14px {
    font-size: 37px;
  }

  .font-size-36px {
    font-size: 96px;
  }

  .tab {
    background-color: hsla(183, 100%, 35%, 0.72);
    border-radius: 4px;
    padding: 0.8rem;
  }

  .margin-bottom-2rem {
    margin-bottom: 4rem;
  }

  .stats {
    background-color: hsla(183, 100%, 35%, 0.72);
    border-radius: 6px;
    display: inline;
  }
}
