.background-color-gray {
  background-color: #efefef;
}

.inactive {
  color: #9b9fa1;
}

.logo-color {
  color: #222831;
}

.active {
  color: #393e46;
}

.current-character {
  background-color: hsla(183, 100%, 35%, 0.57);
}

.correct {
  color: #00adb5;
}

.incorrect {
  color: #dc2626;
  text-decoration: underline;
}

.margin-block-0 {
  margin-block: 0;
}

.margin-top-0 {
  margin-top: 0;
}

.margin-bottom-2rem {
  margin-bottom: 2rem;
}

@media screen and (min-width: 1152px) {
  p,
  h3 {
    font-size: 41px;
  }

  h1 {
    font-size: 109px;
    padding-top: 0.5rem;
    padding-bottom: 2rem;
  }

  .margin-bottom-2rem {
    margin-bottom: 4rem;
  }
}
